# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Reports
generated_reports/*.csv
generated_reports/*.json
generated_reports/*.md